table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color:black;
}
#myCanvas{
    margin-left: 200px;
    border: 3px dotted aqua;
}
button{
    padding: 10px 25px 10px 25px;
}
.color-white{
    color:white;
}